---
import Carousel from '@/components/ui/Carousel/Carousel.astro';
import LazyImage from '@/components/pages/demos/CarouselDemo/LazyImage/LazyImage.astro';

import styles from './CarouselDemo.module.css';

const api = 'https://dog.ceo/api/breed/schnauzer/miniature/images';
const response = await fetch(api);
const json = await response.json();
const dogs = json.message.map((url: string, index: number) => ({ url, index }));
---

<carousel-demo class={styles.root}>
    <Carousel data-ref="carousel" items={dogs} class={styles.carousel} itemClass={styles.item}>
        {
            (item: { url: string; index: number }) => (
                <div class={styles.itemContainer}>
                    <div class={styles.index}>{item.index + 1}</div>
                    <LazyImage src={item.url} className={styles.image} alt="" />
                </div>
            )
        }
    </Carousel>
    <div class={styles.controls}>
        <button data-ref="prev" aria-label="Previous" class={styles.button}>&lt;</button>
        <button data-ref="next" aria-label="Next" class={styles.button}>&gt;</button>
        <span data-ref="info" class={styles.info}>1/137</span>
    </div>
</carousel-demo>

<script>
    import CarouselDemo from './CarouselDemo';

    if (!customElements.get('carousel-demo')) {
        customElements.define('carousel-demo', CarouselDemo);
    }
</script>
