---
import styles from './Emoji.module.css';

interface Emoji {
    code: string;
    url: string;
    static_url: string;
    visible: boolean;
    category?: string;
}

interface Props {
    domain: string;
    categories: Record<string, Emoji[]>;
    baseUrl: string;
    status: number;
    statusText?: string;
}

const { domain, categories, baseUrl, status, statusText } = Astro.props;
const totalEmojis = Object.values(categories).reduce((acc, emojis) => acc + emojis.length, 0);
const totalCategories = Object.keys(categories).length - 1;
const showStaticEmoji = false;
---

<div class:list={['grid', styles.root]}>
    <h1>Emojis Personalizados da {domain}</h1>
    {
        status >= 400 ? (
            <div class={styles.error}>
                <h2 class={styles.errorTitle}>Erro {status}</h2>
                <p class={styles.errorMessage}>{statusText}</p>
            </div>
        ) : !categories || Object.keys(categories).length === 0 ? (
            <div class={styles.error}>
                <p class={styles.errorMessage}>Não tem emojis personalizados nessa instância.</p>
            </div>
        ) : (
            <>
                <p>
                    {totalCategories > 0
                        ? `Exibindo ${totalEmojis} emojis em ${totalCategories} categorias.`
                        : `Exibindo ${totalEmojis} emojis.`}
                </p>
                <etc-emoji class={styles.root}>
                    {Object.entries(categories)
                        .sort(([a], [b]) =>
                            a.toLocaleLowerCase().localeCompare(b.toLocaleLowerCase())
                        )
                        .map(([category, emojis]) => (
                            <section class={styles.emojiCategory}>
                                <h2>{category || 'Sem categoria'}</h2>
                                <div class={styles.emojiGrid}>
                                    {emojis
                                        .sort((a, b) =>
                                            a.code
                                                .toLocaleLowerCase()
                                                .localeCompare(b.code.toLocaleLowerCase())
                                        )
                                        .map(emoji => {
                                            const src =
                                                baseUrl +
                                                (showStaticEmoji ? emoji.static_url : emoji.url);
                                            return (
                                                <button
                                                    aria-label={emoji.code}
                                                    class={styles.emojiButton}
                                                >
                                                    <img
                                                        class={styles.image}
                                                        aria-disabled="true"
                                                        src={src}
                                                        width="32"
                                                        height="32"
                                                        decoding="async"
                                                        loading="lazy"
                                                        alt=""
                                                    />
                                                    <div
                                                        class:list={[styles.caption, 'caption']}
                                                        aria-disabled="true"
                                                    >
                                                        :{emoji.code}:
                                                    </div>
                                                </button>
                                            );
                                        })}
                                </div>
                            </section>
                        ))}
                </etc-emoji>
            </>
        )
    }
</div>

<script>
    import Emoji from './Emoji.ts';

    if (!customElements.get('etc-emoji')) {
        customElements.define('etc-emoji', Emoji);
    }
</script>
