---
import Layout from '@/layouts/Layout.astro';
import EmojiPicker from '@/components/ui/EmojiPicker/EmojiPicker.astro';
import { fetchEmojis } from '@/utils/emoji';

const { domain } = Astro.params;

const data = await fetchEmojis(domain);

if (data.status >= 400) {
    Astro.response.status = data.status;
}

const title = `Emojis Personalizados da ${data.domain}`;
const description = `Visualizador de emojis personalizados da instância ${data.domain}`;
---

<Layout title={title} description={description}>
    <h1>{title}</h1>

    <EmojiPicker
        categories={data.categories}
        baseUrl={data.baseUrl}
        status={data.status}
        statusText={data.statusText}
    />
</Layout>
