---
interface Props {
    title: string;
    description?: string;
    image?: string;
    url?: string;
    preloads?: Array<{
        type: string;
        href: string;
        crossOrigin?: string;
    }>;
}

const { title, description, image, url, preloads = [] } = Astro.props;
---

<title>{title}</title>
{description && <meta name="description" content={description} />}
{description && <meta property="og:description" content={description} />}
{image && <meta property="og:image" content={image} />}
{url && <meta property="og:url" content={url} />}
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@cwahlers" />
{preloads.map(preload => (
    <link rel="preload" as="image" {...preload} />
))}
